<h1>Editing Round Question Answer</h1>

<%= render 'form', round_question_answer: @round_question_answer %>

<%= link_to 'Show', @round_question_answer %> |
<%= link_to 'Back', round_question_answers_path %>
