<nav class="navbar navbar-full navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">RAH</a>
  <ul class="nav navbar-nav">
  <div class="pull-xs-right">
      <div>Sign in: <a class="btn btn-outline-secondary">Google</a> <a class="btn btn-outline-secondary">Facebook</a> <a class="btn btn-outline-secondary">Twitter</a></div>
  </form>
</nav>
